<header class="media-panel__header">
  <h3 data-aos="fade-up" data-aos-delay="100">Gallery</h3>
</header>

<!-- CATEGORY SELECTION -->
<div class="media-gallery-categories" id="galleryCategories">

  <button
    class="media-gallery-category"
    type="button"
    data-open-gallery-category="Forum"
  >
    <img
      src="assets/images/gallery/Forum/forum4.jpg"
      loading="lazy"
    />
    <span>Forum</span>
  </button>

  <button
    class="media-gallery-category"
    type="button"
    data-open-gallery-category="Events"
  >
    <img
      src="assets/images/gallery/Events/Event1.jpg"
      loading="lazy"
    />
    <span>Events</span>
  </button>

  <button
    class="media-gallery-category"
    type="button"
    data-open-gallery-category="Public"
  >
    <img
      src=""
      loading="lazy"
    />
    <span>Public Training</span>
  </button>

</div>



</div>

<!-- SELECTED CATEGORY GALLERY -->
<div class="media-gallery-section is-hidden" id="gallerySelectedSection">

  <div class="media-gallery-section__header">
    <button class="media-gallery-back" type="button" id="galleryBackButton">
      <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
      Back
    </button>

    <h4 id="gallerySelectedTitle">Gallery</h4>
  </div>

  <div class="media-gallery" id="galleryImageGrid" aria-label="Media gallery images">
    <!-- Images will be rendered here by JavaScript -->
  </div>

</div>